
<!-- SKIPTHELINE HEADER -->


<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="header" style=" background-color: #60D5DA;">
  <h1 style="color:white; text-align:center; display:inline-block; margin-block-start:0em; margin-block-end: 0em;vertical-align: text-bottom">SKIP THE LINE</h1>
  <img src="images/logo.png" class="logo_img" style="width:75px;margin-top:0%;">
</div>