<!-- NAVBAR -->
<nav class="navbar-custom navbar-expand">
  <u1 class="navbar-nav">
    <img
						src="/logo.png"
						width='50'
						height='25'
						className='d-inline-block align-center'
						alt='logo'
					/>
    <li class="nav-item">
      <a class="nav-link" href="/order_now" style="padding-left:25px">Order Now</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/pending_orders" style="padding-left:20px">Pending Orders</a>
    </li>
      
    <li class="nav-item">
      <a class="nav-link" href="/order_history" style="padding-left:20px">Order History</a>
    </li>
    <li class="nav-item logout"> <!--add css to logout class to align right-->
      <form method="POST" action="/logout">
        <input class="submit_button" type="submit" value="logout">
      </form>
    </li>

  </u1>
</nav>  