<!-- nav dropdown -->
<div id="navDrop" class="navDropdown">
    <form class="navbar_element" action="/edit_password" method="GET">
      <input class="navbar_button" type="submit" value="Edit Password" style="padding-top: 5%;">
    </form>
    <!--
    <form class="navbar_element" action="/order_management" method="GET">
      <input class="navbar_button" type="submit" value="Order Management">
    </form> -->
    <form class="navbar_element" action="/pending_orders" method="GET">
      <input class="navbar_button" type="submit" value="Pending Orders">
    </form>
    <form class="navbar_element" action="/order_history" method="GET">
      <input class="navbar_button" type="submit" value="Order History">
    </form>
    <form class="navbar_element" action="/date_select" method="GET">
      <input class="navbar_button" type="submit" value="Date Select">
    </form>
    <form class="navbar_element" action="/order_now" method="GET">
      <input class="navbar_button" type="submit" value="Order Now">
    </form>
    <form class="navbar_element" method="POST" action="/logout">
      <input class="logout_button" type="submit" value="Log Out">
    </form>
    
    <!-- <input class="navbar_element" type="button" value="Close" onclick="hideNav()" style="border-top-width: 0; border-left-width: 0; border-right-width: 0;"> -->
    
  </div>
