<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>your order summary:</p>
    <% var itemLength = parseInt(item_amount); %>

    <% for(var i = 0; i < itemLength; i++) { %>
      
      <li><%= cart_items[i].item %> – <%= cart_items[i].price %> – <%= cart_items[i].quantity %> – <%= cart_items[i].date %></li>
    <% } %>
    <p>Pay using swift by clicking here</p>
</body>
</html>