.closeNavButton, #open_nav_button, #close_menu_button, 
.openNavDiv, .menu_icon, 
.cartArrowNav, .cartArrowImg, .closeCartButton, #logo_img_mobile,
.nav_table_mobile {
  display: none;
} 

.navDropdown {
    position: fixed;
    top: 4%;
    left: 0;
    background-color: #53bcc0;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    /* z-index: 1; */
  }

@media only screen and (max-width: 768px) {
    .closeNavButton, #open_nav_button,
    .openNavDiv, .menu_icon, 
    .cartArrowNav, .cartArrowImg, #close_cart_button, #close_cart_div,
    #close_menu_button, #close_menu_div, .nav_table_mobile {
        display: inline;
      } 
    
    .cartArrowDesktop, .closeCartDiv, .navbar, .navbar_element, .headerDesktop, .cartArrowDesktopImg, .settings_icon,
    #settings_form-desktop {
      display: none;
    }

    .edit_pwd_btn {
      font-size: 12px;
    }
    .header {
        padding-left: 0%;
    }

    input {
        width: 100%;
    }
    .navbar_element {
      background-color: #53bcc0;
      padding-top: 2%;
      padding-bottom: 2%;
      font-size: 24px;
    }
    

    .openNavDiv {
      display: inline;
      top: 50px;
      left: 50px;
      width: 50px;
      z-index: 10;
    }

    #settings_div {
      display: none;
    }

    #order_now_div {
      margin-top: 35%;
    }

    .item_card {
      width: 80%;
    }
    h1.orderNowHeading {
      margin-top: 15%;
    }
    .cart {
      margin-top: 0%;
      
    }

    #cart_div {
      display: none; 
      font-size: 80%;
      z-index: 75;  
    }

    .closeCartButton {
      display: none;
      margin-top: 1.5%;
      width: 5%;
      margin-right: 20px;
      z-index: 50;
    }
    
    .cartArrowNav {
      display: inline;
    }

    .cartArrow {
      right: 0;
      top: 10px;
      z-index: 10;
    }
    
    #cart_arrow {
      position: unset;
      width: 50%;
      float: right;
    }

    .cartArrowImg {
      display: inline;
      z-index: 10;
    }

    .closeNavButton {
      display: hidden;
      position: absolute;
      top: 0;
      left: 100px;
      background-color:#53bcc0;
    }

    #open_nav_button {
      display: inline-block;
      font-size: 16px;
      width: 215%;
      text-align: center;
      margin-left: -105%;
      margin-top: -30%;
      border-radius: 0;
    }

  .menu_icon {
    display: inline;
    right: -12%;
    width: 45%;
    vertical-align: bottom;
    z-index: 100;
  }

  h1 {
    font-size: 24px;
  }

  #logo_img_desktop {
    display: none;
  }

  #logo_img_mobile {
    display: inline;
    z-index: 90;
    /* margin-left: 27%; */
    right: 0;
    left: 0;
    margin: auto;
    /* height: -webkit-fill-available; */
    /* width: -webkit-fill-availble; */
    padding-top: 5px;
    width: 35%;
  }

  .nav_table_mobile {
    border-width: 0px;
  }

  .nav_table_mobile tr {
    height: -webkit-fill-available;
  }

  .nav_table_mobile td {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .logout_button {
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    vertical-align: center;
  }

  #item_quantity {
    width: 25%;
  }

  .settings_div {
    background-color: #60D5DA;
    width: 120%;
    right: 0;
    position: fixed;
    height: 16%;
    display:  inline;
    vertical-align: none;
    margin-top: 0%;
    z-index: 50;
  }

  #settings_form_mobile {
    height: 50%;
  }


}