<!DOCTYPE html>
<html lang="en">

<head>

  <!--<script type="text/javascript">
    var window.parentPage = true;
  </script>-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script defer src="../../node_modules/swup/dist/swup.min.js"></script>  
  <script defer src="../../test.js"></script>
  
  <title> Confirm Order - Skip The Line </title>
  <link rel="stylesheet" href="..\..\public\styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    html {
      font-family: 'Roboto', sans-serif;
    } body {
      background-color: #11BFC7;
      /*background-image: linear-gradient(to bottom, #11BFC7, #47E2D6);*/
    }
  </style>
</head>
    
<body>
  <div class="container-fluid">

    <div class="header">
      <main id="swup" class="transition-fade">
        <h1 style="text-align:center;">SKIP THE LINE</h1>
      </main>
    </div>
    
    <div class='loginbox'>
      <main id="swup" class="transition-wipe">
    
    
      <br>
      <h1> Confirm Order </h1>
      <!-- item – price – quantity -->
      <h3 style='color: #11BFC7;'>Items:</h3>
      <li>It's everyday bro – aa – aa</li>
      <li>It's everyday bro</li>
      <li>It's everyday bro</li>
      <li>I SAID IT'S EVERYDAY BROOOOOOO!!!!</li><br>
      <p>
        <a href="#" class="btn" role="button">Pay Now</a>
      </p>
    </main>
  </div>

  </div>
</body>

</html>