<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="/confirmation" method="POST" >
            <label for="code">Type Your Confirmation Code Below</label>
            <input type="text" id="code" name="code">
            <input type="submit" value="submit">
        </form> 
    </body>
</html>