<!DOCTYPE html>
<html lang="en">

<head>
    <!--HEADER-->
    <% include ../partials/header.ejs %>
    
    <title> Confirm Order - Skip The Line </title>
    
    <!-- ADD FONTS-->
    
<!--INFO:
MUDIT (MATT) JAIN
SKIP THE LINE
SUNDAY, APRIL 12, 2020
-->
	<!--
  <style>
    html {
      font-family: 'Roboto', sans-serif;
    } body {
      background-color: #11BFC7;
      /*background-image: linear-gradient(to bottom, #11BFC7, #47E2D6);*/
    }
  </style>
	-->

</head>
    
<body>
  <div class="container-fluid">
  	
    <div class="header">
      <main id="swup" class="transition-fade">
        <h1 style="text-align:center;">SKIP THE LINE</h1>
      </main>
    </div>
    

    <div class='loginbox'>
      <main id="swup" class="transition-wipe">
        <br>
        <h1> Confirm Order </h1>
        
        <% console.log("confirm order cart = " + JSON.stringify(cart_items)); %>
        <% var itemLength = parseInt(item_amount); %>

        <% for(var i = 0; i < itemLength; i++) { %>
          
          <li><%= cart_items[i].item %> – <%= cart_items[i].price %> – <%= cart_items[i].quantity %></li>
        <% } %>
        <br>
        <a href="#" class="btn" role="button">Pay Now</a>
      </main>
    </div>
  </div>
</body>

</html>