<!DOCTYPE html>
<html style="background-color: #60D5DA">
    <head>
        <link rel="stylesheet" href="stylesheets/styles.css">

        <% include ../partials/header_white.ejs %>
        <!-- <div class="header" style=" background-color: white;">
            <h1 style="color: #60D5DA; text-align:center; display:inline-block; margin-block-start:0em; margin-block-end: 0em;">SKIP THE LINE</h1>
            <img src="images/logo-teal.png" class="logo_img" style="width:75px;">
        </div> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .loginbox {
            width: 50%;
            padding-top: 15%;
            margin-top: 5%;
        }

        h1 {
            margin-top: -20%;
            margin-bottom: 10%;
        }
        
        .code_button {
            margin-bottom: 5%;
        }

        @media only screen and (max-width: 768px) {
            h1 {
                font-size: 32px;
            }
            .boxHeader {
                font-size: 24px;
            }
            .loginbox {
                margin-top: 25%;
                width: 100%;
                margin-right: 0%;
                padding-left: 0%;
                padding-top: 25%;
                width: 100%;  
            }
            .code_button {
                padding: 0.8em 1.8em;
                font-size: 1em;
            }
        }
    </style>
    </head>
    <body style="background-color: #60D5DA; text-align: center;">
        
        <div class="loginbox">
            <form action="/confirmation" method="POST" style="width: 100%;">
                <h1 class="boxHeader">Type Your Confirmation Code Below:</h1>
                <input type="text" id="code" name="code" style="margin-bottom: 5%;">
                <% if (confirmed == false) { %>
                    <p style="color: red; margin-top: 0">Wrong confirmation code. Please try again.</p> 
                <% } %>
                <input class="code_button" type="submit" value="Submit">
            </form>

            <div style="margin-bottom:5%;">
                <p style="margin-block-end: 0em;">Didn't get the code?</p> 
                <form action="/resend_confirmation" method="POST" style="display:inline;">
                    <input type="submit" id="resend_confirmation_button" value="resend confirmation" style="margin-block-end: 1em;">
                </form>
            </div>
        </div>
    </body>
</html>