<!DOCTYPE html>
<html>
    <head>
        <script defer src="../../public/scripts/scripts.js"></script>
        <link rel="stylesheet" href="../../public/stylesheets/styles.css">
    </head>
    <body>
            <form action="/confirmation" method="POST" >
                <label for="code">Type Your Confirmation Code Below</label>
                <input type="text" id="code" name="code">
                <input class="submit_button" type="submit" value="submit">
            </form> 
    </body>
</html>