<!DOCTYPE html>
<html style="background-color: white">
    <head>
        <link rel="stylesheet" href="stylesheets/styles.css">
        <div class="header" style=" background-color: #60D5DA;">
            <h1 style="color: white; text-align:center; display:inline-block; margin-block-start:0em; margin-block-end: 0em;">SKIP THE LINE</h1>
            <img src="images/logo-teal.png" class="logo_img" style="width:75px;">
        </div>
    </head>
    <body style="background-color: white; text-align: center; width=100%;">
        <div class="confirmation_box">
            <form action="/confirmation" method="POST" >
                <h1>Type Your Confirmation Code Below</h1>
                <input type="text" id="code" name="code">
                <input class="submit_button" type="submit" value="submit">
            </form> 
        </div>
    </body>
</html>