<!DOCTYPE html>
<html>
    <head>
        <script defer src="../../node_modules/swup/dist/swup.min.js"></script>
        <script defer src="../../public/scripts/scripts.js"></script>
        <link rel="stylesheet" href="../../public/stylesheets/styles.css">
    </head>
    <meta http-equiv="refresh" content=3;url="https://skipthelinebeta.herokuapp.com/login.html" />
    <main id="swup" class="transition-wipe">
        <p>Sign up successful. You will be automatically redirected to the login page shortly.</p>
    </main>




</html>