<!DOCTYPE html>
<html style="background-color: #60D5DA;">
    <head>
      <link href="https://fonts.googleapis.com/css2?family=Futura:wght@100;400&display=swap" rel="stylesheet">
      
      <!-- <script defer src="../../node_modules/swup/dist/swup.min.js"></script> -->
      <script defer src="../../public/scripts/scripts.js"></script>
      <link rel="stylesheet" href="../../public/stylesheets/styles.css">
      
      <div class="header" style=" background-color: white;">
        <h1 style="color: #60D5DA; text-align:center; display:inline-block;">SKIP THE LINE</h1>
        <img src="images/logo-teal.png" class="logo_img" style="width:75px;">
      </div>
    </head>
    <body style="background-color: #60D5DA;"> 

      <!-- <main id="swup" class="transition-wipe"> -->
        <div class="dateSelectBox">
          <!-- <h1>What Date are you Ordering For?</h2> -->
          <h1 >Which Date Would You Like to Order For?</h1>
          <div class="loginfields">
            <form action="/date_select" method="POST">
              <select name="selectDate" id="selectDate" name="selectDate" required>
                <option disabled selected value> -- select an option -- </option>
                <% row1.forEach((r) => { %>
                  <option value="<%=r%>"><%=r.toLocaleDateString()%></option>
                  <% }); %>
              </select>
              <br>
              <input class="submit_button" type="submit" value="Submit" style="font-size:150%; position: relative; top:300px;">
            </form>
            <input type="hidden" value="<%=row2%>" id="orderedDates">
            <h3 id="sameDateNotice"></h3>
          </div>
        </div>
      <!-- </main> -->
      
    </body>
    <script>
      function checkSameDate() { //the console logs don't execute
        var rawSelectedDate = document.getElementById("selectDate").value;
        var rawOrderedDates = document.getElementById("orderedDates").value;
        rawOrderedDates = rawOrderedDates.split(",");
        var selectedDate = rawSelectedDate.slice(0,15);
        console.log("rawOrderedDates= ", rawOrderedDates);
        for (var i = 0; i < rawOrderedDates.length; i++) {
          var orderedDate = rawOrderedDates[i].slice(0,15);
          console.log("selectedDate= ",selectedDate);
          //console.log("orderedDate= ",orderedDate);
          if (selectedDate == orderedDate) {
            document.getElementById("sameDateNotice").innerHTML = "You already have an order placed on the selected date. Your current order will be combined with that order. If you wish to proceed, click submit.";
            return;
          }
        }
        document.getElementById("sameDateNotice").innerHTML = "";
        return;
      }

      document.getElementById("selectDate").addEventListener("change",checkSameDate);
    </script>
</html>