<!DOCTYPE html>
<html style="background-color: #60D5DA;">
    <head>
      <!-- <script defer src="../../public/scripts/scripts.js"></script> -->
      <link rel="stylesheet" href="stylesheets/styles.css">

      <!-- calendar -->
      <link rel="stylesheet" href="CalendarPicker.style.css">
      <script src="CalendarPicker.js"></script>


      
      
      <div class="header" style=" background-color: white;">
        <h1 style="color: #60D5DA; text-align:center; display:inline-block; margin-block-start:0em; margin-block-end: 0em;">SKIP THE LINE</h1>
        <img src="images/logo-teal.png" class="logo_img" style="width:75px;">
      </div>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
       .loginfields, #mobileForm {
        display: none;
      } 
      #desktopForm {
        display: inline;
      }

      @media only screen and (max-width: 768px) {
        h1.dateSelectHeading {
          font-size: 20px;
        } /*
         .loginfields, #mobileForm {
          display: inline;
         } */

         #myCalendarWrapper, #showcase-wrapper {
           display: inline;
         }

         /*
        .showcase-wrapper, .myCalendarWrapper, .example, #calendar-wrapper, #current-date, #example, #desktopForm {
          display: none;
        }  */
      }
    </style>
    </head>
    <body style="background-color: #60D5DA;"> 
      <svg id="fader"></svg>
      <script>
        window.addEventListener('pageshow', function(event){
          // document.getElementById('fader').removeAttribute('class', 'fade-in');
        // document.getElementById('fader').setAttribute('class', 'fade-out');
          document.getElementById('fader').setAttribute('class', 'wipe-left');
        });
      </script>
      
      

      


      <!-- display dropdown on mobile -->
      <div class="dateSelectBox"> 
        <h1 class="dateSelectHeading">Which Date Would You Like to Order For?</h1>

        <!-- calendar desktop -->
        <div id="showcase-wrapper">
          <div id="myCalendarWrapper"></div>
            
             <div id="example">
                <h3>currentValue:
                    <p id="current-date"></p>
                </h3>
                <h3>currentValue.toDateString():
                    <p id="current-datestring"></p>
                </h3>
            </div> 
        </div>
 
        <!--
          <div class="loginfields">
             <div id="mobileForm">
              <form action="/date_select" method="POST">
                <input type="hidden" value="1" id="isDesktop">
                  <select name="selectDate" id="selectDate" name="selectDate" required>
                    <option disabled selected value> -- select an option -- </option>
                    <% row1.forEach((r) => { %>
                      <option value="<%=r%>"><%=r.toLocaleDateString()%></option>
                      <% }); %>
                  </select>
                  <br>
                  <input type="hidden" value="<%=row2%>" id="orderedDates">
                  
                  <h3 id="sameDateNotice"></h3>
            </div>
            <input class="submit_button" type="submit" value="Submit" style="font-size:150%; position: relative; top:0px;">
            </form> 
        </div> -->

          <div id="desktopForm">
            <form action="/date_select" method="POST">
            
              <input type="hidden" value="" id="calendarSelection" name="calendarSelection">
              <input class="submit_button" type="submit" value="Submit" style="font-size:150%; position: relative; top:0px;">
            </form>
          </div>
      </div>
    </body>
    <script>
      var isDesktop = 1;
      
      
      if (window.innerWidth <= 768) {
        isDesktop = 0;
        document.getElementById("isDesktop").value = isDesktop;
      }

      console.log(isDesktop);

      // function checkSameDate() { //the console logs don't execute
      //   var rawSelectedDate = document.getElementById("selectDate").value;
      //   var rawOrderedDates = document.getElementById("orderedDates").value;
      //   rawOrderedDates = rawOrderedDates.split(",");
      //   var selectedDate = rawSelectedDate.slice(0,15);
      //   console.log("rawOrderedDates= ", rawOrderedDates);
      //   for (var i = 0; i < rawOrderedDates.length; i++) {
      //     var orderedDate = rawOrderedDates[i].slice(0,15);
      //     console.log("selectedDate= ",selectedDate);
      //     //console.log("orderedDate= ",orderedDate);
      //     if (selectedDate == orderedDate) {
      //       document.getElementById("sameDateNotice").innerHTML = "You already have an order placed on the selected date. Your current order will have a different order ID. If you wish to proceed, click submit.";
      //       return;
      //     }
      //   }
      //   document.getElementById("sameDateNotice").innerHTML = "";
      //   return;
      // }


      
      //document.getElementById("selectDate").addEventListener("change",checkSameDate);

      // calendar
      const nextYear = new Date().getFullYear() + 1;
      const maxdate = new Date();
      maxdate.setDate(maxdate.getDate() + 9);

      const myCalender = new CalendarPicker('#myCalendarWrapper', {
          // If max < min or min > max then the only available day will be today.
          min: new Date(),
          max: new Date(maxdate), // NOTE: new Date(nextYear, 10) is "Sun Nov 01 <nextYear>"
          
      });

      

      console.log(maxdate);

      const currentDateElement = document.getElementById('current-date');
      currentDateElement.textContent = myCalender.value;
      
      
  
      const currentToDateString = document.getElementById('current-datestring');
      currentToDateString.textContent = myCalender.value.toDateString();
  
      myCalender.onValueChange((currentValue) => {
          currentDateElement.textContent = currentValue;
         
          currentToDateString.textContent = currentValue.toDateString();
  
          console.log(`The current value of the calendar is: ${currentValue}`);
          document.getElementById("calendarSelection").value = currentValue;
      });
  </script>
  
</html>