<!DOCTYPE html>
<html lang="en" style="background-color: #60D5DA;">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    <!-- <script defer src="../../node_modules/swup/dist/swup.min.js"></script> -->
    <script defer src="../public/scripts/scripts.js"></script>
    
    <title> Edit Password </title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ADD FONTS-->
    
    <% include ../partials/header_white.ejs %>
    
<style>
    
    body {
      background-color: #11BFC7;
      /*background-image: linear-gradient(to bottom, #11BFC7, #47E2D6);*/
    }

    .loginbox {
      width: 35%;
      padding-bottom: 2%;
      margin-top: 200px;
      padding: 3%;
      padding-top: 0%;
    }

   
    @media only screen and (max-width: 768px) {
    
    h1 {
      font-size: 32px;
    }
    
    .loginbox {
      width: 100%;
      margin-top: 25%;
    }
    
    }
</style>
</head>

<body style="background-color:#60D5DA;">

      <% if (pwd_correct == 0) { %> 
        <script>
          alert("Current password doesn't match!");
        </script>
       <%}%>


    <form method="POST" action="/edit_password">
      <div class="container-fluid">

        <!-- <div class="header" style=" background-color: white;">
          <h1 style="color: #60D5DA; text-align:center; display:inline; margin-block-start:0em; margin-block-end: 0em;">SKIP THE LINE</h1>
          <img src="images/logo-teal.png" class="logo_img" style="width:75px; vertical-align: top;">
        </div> -->
        <!-- <main id="swup" class="transition-wipe"> -->
          <div class='loginbox'>
              <h1 style="padding-top: 5%;padding-bottom:5%;">Edit Password</h1>

              <!-- <div class="form-group">
                <label for="usr">First Name</label>
                <input required type="text" class="form-control" id="firstname" name="firstname">
              </div>
              
              <div class="form-group">
                <label for="usr">Last name</label>
                <input required type="text" class="form-control" id="lastname" name="lastname">
              </div>   -->
              
              <div class="form-group">
                <!-- <label for="usr">Current Password</label> -->
                <input required type="password" class="form-control" id="opwd" name="opwd" placeholder="Current Password">
              </div>
                
              <div class="form-group">
                <!-- <label for="pwd">New Password</label> -->
                <input required type="password" class="form-control" id="pwd" name="pwd" placeholder="New Password">
              </div> 

              <div class="form-group" style="padding-bottom:10px">
                <!-- <label for="pwd">Confirm New Password</label> -->
                <input required type="password" class="form-control" id="pwd2" name="pwd2" placeholder="Confirm New Password">
              </div>
                
              <input class="submit_button" type="submit" value="Confirm" onclick="return validateform()"><br>
              <p>
                <br>
                Back to
                <a href="/" role="button">Login</a>
              </p>
            </div>
          <!-- </main> -->
        </form>
        
        </div>
</body>

<script type="text/javascript">
  function validateform() {
    var pwd = document.getElementById("pwd").value;
    var pwd2 = document.getElementById("pwd2").value;
    if (pwd != pwd2) {
      alert("your passwords don't match!");
      return false;
    } 
  }
  
</script>

</html>