<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
  <h2>Database Results</h2>
  <!-- <main id="swup" class="transition-wipe"> -->
    <ul>
        <% results.forEach(function(r) { %>
            <li><%= r.order_id %> - <%= r.item %> - <%= r.price %> – <%= r.date %></li>
        <% }); %>
    </ul>

    </div>
  <!-- </main> -->
</body>
</html>
