<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
  <h2>Database Results</h2>

  <!-- <main id="swup" class="transition-wipe"> -->
    <ul>
        <% results.forEach(function(r) { %>
            <li><%= r.users_id %> - <%= r.order_id %> - <%= r.date %></li>
        <% }); %>
    </ul>
  <!-- </main> -->
</div>

</body>
</html>
