<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
  <main id="swup" class="transition-fade">
    <h2>Database Results</h2>
  </main>
  <main id="swup" class="transition-wipe">
    <ul>
        <% results.forEach(function(r) { %>
            <li><%= r.order_id %> - <%= r.item %> - <%= r.price %> – <%= r.date %></li>
        <% }); %>
    </ul>
  </main>
</div>

</body>
</html>
