<!DOCTYPE html>
<html lang="en">

<head>
    <!--HEADER-->
    <% include ../partials/header.ejs %>
    
<!--INFO:
MUDIT (MATT) JAIN
SKIP THE LINE
SUNDAY, APRIL 12, 2020
-->

</head>

<body>
  <div class="container-fluid">

    <!-- NAVBAR -->
    <% include ../partials/nav.ejs %>

  </div>
</body>

</html>