<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>


    <div class="container">
      <h2>Database Results</h2>

      <main id="swup" class="transition-wipe">
        <ul>
            <% results.forEach(function(r) { %>
                <li><%= r.username %> - <%= r.password %></li>
            <% }); %>
        </ul>
      </main>
    </div>
  
  </body>
</html>
