<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="stylesheets/styles.css">
    
    <% include ../partials/database_nav.ejs %>

  <style>
    .logout_button {
      width: 100%;
    }
    .logo_img {
      vertical-align: unset;
    }
    body {
      text-align: center;
    }
    
    .container {
      text-align: center;
      align-self: center;
      width: 50%;
      margin-left: 25%;
      margin-top: 5%;
    }

    table {
      margin-right: 0%;
      width: 100%;
    }
  </style>
  </head>

  <body>


    <div class="container">
      <h2>Database Results</h2>
        <table>
          <th>user_id</th>
          <th>username</th>
          <th>password</th>
          <th>authority</th>
          <% results.forEach(function(r) { %>
            <tr>
              <td><%= r.user_id %></td>
              <td><%= r.username %></td>
              <td><%= r.password %></td>
              <td><%= r.authority %></td>
            </tr>
          <% }); %>

        </table>
      <!-- </main> -->
    </div>
  
  </body>
</html>
